{% extends 'customer/base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                <h3>About Us</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12 offset-md-1 p-4 text-center">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci saepe, possimus vel consequuntur sunt, 
                    suscipit ad soluta sapiente ea quidem unde repellendus tempore quaerat assumenda eius dolorem vero nihil 
                    nulla.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}